<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Ej 20">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="irConfig()">
          <mat-icon>settings_applications</mat-icon>
          <span>Config</span>
        </button>
        <button mat-menu-item (click)="Exit()">
          <mat-icon>directions_run</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-list> 
    <!--Lista Duenyos mascotas y Mascotas-->
    <mat-list-item  class="showhim" >   
      <tr matLine >
        <td style="width: 25%;">
          <button class="showme" (click)="edit(e.idrow)"><mat-icon>edit</mat-icon></button>
        </td>
        <td style="width: 25%;" >
          <button class="showme" (click)="delete(e.idrow)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </mat-list-item>

  </mat-list>
</ion-content>
