<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Ej 20">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="irConfig()">
          <mat-icon>settings_applications</mat-icon>
          <span>Config</span>
        </button>
        <button mat-menu-item (click)="Exit()">
          <mat-icon>directions_run</mat-icon>
          <span>Exit</span>
        </button>
      </mat-menu>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
